@page
@model RecipeWebsite.Pages.Recipes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Dodaj przepis</h1>

@*<h4>Recipe</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RecipeVM.Name" class="control-label"></label>
                <input asp-for="RecipeVM.Name" class="form-control" />
                <span asp-validation-for="RecipeVM.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipeVM.NumberOfServings" class="control-label"></label>
                <input asp-for="RecipeVM.NumberOfServings" class="form-control" />
                <span asp-validation-for="RecipeVM.NumberOfServings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipeVM.LastTimeServed" class="control-label"></label>
                <input asp-for="RecipeVM.LastTimeServed" class="form-control" />
                <span asp-validation-for="RecipeVM.LastTimeServed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="table">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;

                                foreach (var mealType in Model.AssignedMealTypeDataList)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedMealTypes"
                                               value="@mealType.MealTypeID"
                                               @(Html.Raw(mealType.Assigned ? "checked=\"checked\"" : "")) />
                                        @mealType.MealTypeID @:  @mealType.Name
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Dodaj" class="btn btn-primary" />
                </div>
            </form>
    </div>
</div>

<div>
    <a asp-page="Index">Powrót</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
